
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510773565224-6 {
            width: 547px;
            background-color: rgb(255, 255, 255);
            min-height: 596px;
            top: 47px;
            left: 580px;
        }
        
        .silex-id-1510773434683-3 {
            width: 499px;
            background-color: rgb(255, 255, 255);
            min-height: 554px;
            top: 24px;
            left: 31px;
        }
        
        .silex-id-1510772967104-1 {
            width: 424px;
            background-color: rgb(255, 255, 255);
            min-height: 430px;
            top: 78px;
            left: 45px;
        }
    