
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510811620053-7 {
            width: 494px;
            background-color: rgb(255, 255, 255);
            min-height: 271px;
            top: 41px;
            left: 9px;
        }
        
        .silex-id-1510811630195-8 {
            width: 480px;
            background-color: rgb(255, 255, 255);
            min-height: 248px;
            top: 7px;
            left: 8px;
        }
        
        .silex-id-1510811656933-9 {
            width: 379px;
            background-color: rgb(255, 255, 255);
            min-height: 509px;
            top: 23px;
            left: 508px;
        }
        
        .silex-id-1510811665605-10 {
            width: 365px;
            background-color: rgb(255, 255, 255);
            min-height: 236px;
            top: 6px;
            left: 10px;
        }
        
        .silex-id-1510873528699-17 {
            width: 562px;
            background-color: rgb(255, 255, 255);
            min-height: 517px;
            top: 13px;
            left: 905px;
        }
        
        .silex-id-1510816264725-13 {
            width: 434px;
            background-color: rgb(255, 255, 255);
            min-height: 491px;
            top: 16px;
            left: 4px;
        }
    