
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1510772967104-1 {
            width: 424px;
            background-color: rgb(255, 255, 255);
            min-height: 430px;
            top: 63px;
            left: 58px;
        }
    